* {
    box-sizing:border-box;
}
.inputname {
    padding: 5px;
    border-bottom:1px solid black; 
    margin-right: 30px;
    margin-left: 5px;
}
.inputseats {
    width:40px;
    border: 1px solid black;
    margin-left:20px;
    padding: 5px;
}
.btnstartselect {
    margin-top:10px;
    padding:10px;
    background-color: rgb(219, 15, 86);
    color: white;
    border: none;
   
}
.selectioncontainer {
    padding-top: 20px;
    width:90%;
    margin:0 auto;
}
.screencontainer {
    padding: 5px 0 5px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: slateblue;      
    border: none !important;  
    color: white;    

}
.seatgrid {
    width: 100%;
}
tr {
    text-align:center;
}
.col5 {
    margin-right: 20px;
}
       
span.empty{
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
   
    border: 2px solid black;
    cursor:pointer;
}
span.full {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;            
    cursor:pointer;
    border: 2px solid black;
   
    background: rgb(178, 176, 176);
}
span.blocked {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;            
    cursor:pointer;
    border: 2px solid black;
    
    background: rgb(4, 254, 4);
}
.key{
    font-size: 16px;
    margin-top: 0%;
}